// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #fff;
$gray: #0E0000;
$light-gray: #F4F4F4;

:root{
  --hotpink: #FF66C4;
  --light-red: #EB7474;
  --light-red-opacity: #eb747488;
  --blue: #38B6FF;
  --light-blue: #00C2CB;
  --light-blue-opacity: #00c1cb96;
  --black: #191918;
  --almost-black: #1F252D;
  --deep-gray: #172934;
  --light-gray: #D4CECE;
  --gray: #DAF7EC;
  --white: #FFFFFF;

  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #32A6BE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}
