:root{
    --hotpink: #FF66C4;
    --light-red: #EB7474;
    --light-red-opacity: #eb747488;

    --blue: #38B6FF;
    --light-blue: #00C2CB;
    --light-blue-opacity: #00c1cb96;
    --black: #191918;
    --almost-black: #1F252D;
    --deep-gray: #172934;
    --light-gray: #D4CECE;
    --gray: #DAF7EC;
    --white: #FFFFFF;
}
