.circle-fondo-mygroups {
  width: 74%;
  height: 100%;
  background: linear-gradient(343deg, #154c74, #07273d);
  z-index: 1;
  position: absolute;
  border-radius: 29% 0% 0% 9% / 16% 0% 0% 44%;
  right: 0;
}

.container-groups {
  // background-color: red;
  margin-top: 130px;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  padding: 0 50px;
}

.first-group {
  // background-color: blue;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // z-index: 100;
}

.second-group {
  // background-color: yellow;
  z-index: 5;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-primary {
  display: block !important;
}

.group-card {
    background-color: #1922297e;
    border-radius: 15px;
    margin: 0;
    color: white;
    position: relative;
    border-top: 4px solid #32A6BE;
    overflow: hidden;
    transition: transform .3s, border-top .3s;
    z-index: 2;
    width: 100%;
    margin-bottom: 10px;
}





























.close-modal {
  color: #5f5f5b;
}

.title-slide-in {
  position: relative;
  animation: titleSlide 0.5s;
}

.bg-icon {
  animation: bgIcon 1.5s;
  width: 100%;

  position: fixed;
  left: 800px;
  opacity: .45;
  top: 100px;

  z-index: 1;
}

// Animations

@keyframes titleSlide {

  from {
    opacity: 0;
    left: 125px;
  }

  to {
    opacity: 1;
    left: 0;
  }

}

@keyframes cardSlide {

  from {
    opacity: 0;
    top: -25px;
  }

  to {
    opacity: 1;
    top: 0;
  }

}

@keyframes bgIcon {

  from {
    opacity: 0;
  }

  to {
    opacity: .45;
  }

}
