.close-modal {
  color: #5f5f5b;
}

.title-slide-in {
  position: relative;
  animation: titleSlide 0.5s;
}

.bg-icon {
  animation: bgIcon 1.5s;
  width: 100%;

  position: fixed;
  left: 800px;
  opacity: .45;
  top: 100px;

  z-index: 1;
}

// Animations

@keyframes titleSlide {

  from {
    opacity: 0;
    left: 125px;
  }

  to {
    opacity: 1;
    left: 0;
  }

}

@keyframes cardSlide {

  from {
    opacity: 0;
    top: -25px;
  }

  to {
    opacity: 1;
    top: 0;
  }

}

@keyframes bgIcon {

  from {
    opacity: 0;
  }

  to {
    opacity: .45;
  }

}
