<% if user_signed_in? %>
  <h1>Mis contraseñas</h1>
  <% @password.each do |password| %>
    <h3>Nombre del sitio: <%= password.site_name %></h3>
    <p>Categoría: <%= password.category %></p>
    <p>Dirección: <%= password.url %></p>
  <% end %>
<% end %>
