<div class="container mt-3">
  <div class="row">
    <div class="col-12">

      <% if user_signed_in? %>
        <h1>Mis contraseñas</h1>
          <% @password.each do |password| %>
            <div class="mt-5 mb-5">

              <h3>Nombre del sitio: <%= link_to password.site_name, password_path(password), style: 'text-decoration: none;' %></h3>
              <p>Categoría: <%= password.category %></p>
              <p>Dirección: <%= password.url %></p>

              <%= link_to password, data: { turbo_method: :delete, turbo_confirm: "Quieres borrar esta contraseña?" } do %>
                <button type="button" class="btn btn-danger" style="color: white;"><i class="fa-solid fa-trash"></i></button>
              <% end %>

            </div>
          <% end %>
      <% end %>

    </div>
  </div>
</div>
