
<div class="plan__premium">
  <div class="return__arrow">
    <i class="fa-solid fa-circle-arrow-left"></i>
    <a href="#" class="return">Regresar</a>
  </div>
  <div class="info__plan__premium">
    <h3>Suscripción Premium</h3>

    <div class="data__user__email">
      <div class="data__user">
        <label for="" class="usuario">Nombre de usuario</label>
        <input type="text" class="user__premium">
      </div>
      <div class="user__email">
          <label for="" class="email">Correo electrónico</label>
          <input type="text" class="email__premium">
      </div>
    </div>

    <div class="data__card">
      <div class="info__premium">
        <div class="item">
          <label for="" class="xxxx">xxxx</label>
          <input type="text" class="input">
        </div>
        <div class="item">
          <label for="" class="xxxx">xxxx</label>
          <input type="text" class="input">
        </div>
        <div class="item">
          <label for="" class="xxxx">csv</label>
          <input type="text" class="input">
        </div>
      </div>
    </div>

    <button class="btn__premium">Plan premium</button>
  </div>
</div>
