@import "show";
@import "new";

.btn-group-info {
  background-color: #3CB0D0;
  color: #FFFFFF;
  border-radius: 9px;
  padding: 0 6px 0 6px;
  border: none;

  transition: 0.15s ease-in-out;

  .fa-circle-info {
    font-size: 20px;
  }
}

.btn-group-info:hover{
  color: #FFFFFF;
  background-color: #1f9bbd;
  transform: scale(1.07);
}

.user-badge {
  font-size: 14px;
  background-color: #1f9bbd;;
  border-radius: 5px;
}

.group-card {
  position: relative;

  background: rgba(48, 66, 82, 0.671);
  box-shadow: 0 4px 15px 0 rgb(11, 15, 19);
  border-radius: 5px;
  width: 100%;

  z-index: 2;
}
