@import "show";
@import "new";

.btn-group-info {
  background-color: #3CB0D0;
  color: #FFFFFF;
  border-radius: 9px;
  padding: 0 6px 0 6px;
  border: none;

  transition: 0.15s ease-in-out;

  .fa-circle-info {
    font-size: 20px;
  }
}

.btn-group-info:hover{
  color: #FFFFFF;
  background-color: #1f9bbd;
  transform: scale(1.07);
}

.user-badge {
  font-size: 14px;
  background-color: #1f9bbd;;
  border-radius: 5px;
}


