.groupinv-bg {
  background: linear-gradient(0deg, #16283a 0%, #315774 100%);
  min-width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: -2;

  h1 {
    font-size: 3rem;
  }
}

.invi-card {
  background: #202b33ab;
  border-radius: 5px;
  margin: 0;
  border-radius: 15px;
  border-top: 4px solid #e7a9a970;
}

.user-image {
  width: 150px;
  height: 150px;
}


.option-card {
  border-radius: 6px;
  margin: 0;
  height: 325px;

  color: white;

  transition: all .75s;
}

.option-card.opp h5 i {
  margin-left: 20px;
}

.option-card:hover {
  transform: scale(1.05);
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: auto;
}

.passwords-card {
  background: rgba(48, 66, 82, 0.671);
  box-shadow: 0 4px 15px 0 rgb(11, 15, 19);
  border-radius: 5px;
}

.group-img {
  width: 175px;
  height: 175px;
}

.password-info {
  background: radial-gradient(circle at left bottom, #2c4057 , #247e9c);
  box-shadow: 0 4px 15px 0 rgb(11, 15, 19);
  border-radius: 5px;
  height: 50px;
  font-size: 18px;

  p {
    margin: 0;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.iframe-box {

  iframe {
    width: 45%;
    height: 85vh;
    border-radius: 15px;
    position: fixed;
    margin-top: 24px;
    margin-left: 32px;
    border-top: 4px solid #00b4ff1f;
  }

}

.iframe-back {
  background: #192229 !important;
}

.maxhei {
  height: 414px !important;
  max-height: 414px !important;
  overflow: hidden;
  justify-content: flex-start !important;
}

.active-pass {
  border: none;
  transition: transform .5s;
  background: #071e26;
  border-radius: 15px;
  border-top: 4px solid #92e7958a;
}

.active-pass:hover {
  transform: scale(1.04);
}

.disabled-pass {
  border: none;
  transition: transform .5s;
  background: #2c3133;
  border-radius: 15px;
  border-top: 4px solid #e792928a;
}

.disabled-pass:hover {
  transform: scale(1.04);
}

.group-badge {
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  background: #298cae45;
  font-size: 12px;

  bottom: 17px;

  transition: transform .5s;

  left: 240px;

  p {
    margin: 0;
  }
}

.group-badge:hover {
  transform: scale(1.04);
}


@media (max-width: 1370px) {

  .iframe-box iframe {
    width: 45%;
    height: 85vh;
    border-radius: 15px;
    position: fixed;
    margin-top: -9px;
    margin-left: 32px;
    border-top: 4px solid #00b4ff1f;
  }

.user-image {
  width: 100px;
  height: 100px;
}

.maxhei {
  height: 235px !important;
  max-height: 235px !important;
  overflow: hidden;
  justify-content: flex-start !important;
  }

}
