.groupinv-bg {
  background: linear-gradient(0deg, #16283a 0%, #315774 100%);
  min-width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: -2;

  h1 {
    font-size: 3rem;
  }
}

.invi-card {
  background: rgba(48, 66, 82, 0.671);
  box-shadow: 0 4px 10px 0 rgba(11, 15, 19, 0.6);
  border-radius: 5px;
  margin: 0;
}

.user-image {
  width: 150px;
  height: 150px;
}


.option-card {
  border-radius: 6px;
  margin: 0;
  height: 325px;

  color: white;

  transition: all .75s;
}

.option-card:hover {
  background: linear-gradient(180deg, #113846 50%, #172934 100%);
  transform: scale(1.07);
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: auto;
}

.passwords-card {
  background: rgba(48, 66, 82, 0.671);
  box-shadow: 0 4px 15px 0 rgb(11, 15, 19);
  border-radius: 5px;
}

.group-img {
  width: 175px;
  height: 175px;
}

.password-info {
  background: radial-gradient(circle at left bottom, #2c4057 , #247e9c);
  box-shadow: 0 4px 15px 0 rgb(11, 15, 19);
  border-radius: 5px;
  height: 50px;
  font-size: 18px;

  p {
    margin: 0;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.iframe-box {

  iframe {
    width: 45%;
    height: 85vh;
    border-radius: 6px;
    position: fixed;
  }
}

.active-pass {
  background: radial-gradient(circle at right top, #437fad , #25397a);
  border: none;
  box-shadow: 0 4px 10px 0 rgba(11, 15, 19, 0.6);

  transition: transform .5s;
}

.active-pass:hover {
  transform: scale(1.04);
}

.disabled-pass {
  background: radial-gradient(circle at right top, #696969 , #292829);
  border: none;
  box-shadow: 0 4px 10px 0 rgba(11, 15, 19, 0.6);

  transition: transform .5s;
}

.disabled-pass:hover {
  transform: scale(1.04);
}

.group-badge {
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  background: #298cae;
  font-size: 12px;

  bottom: 17px;

  transition: transform .5s;

  left: 12px;

  p {
    margin: 0;
  }
}

.group-badge:hover {
  transform: scale(1.04);
}
