.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: #e66868;
  color: #fff;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  border: none;
}
