.dash-card {
  position: relative;

  background: rgba(48, 66, 82, 0.671);
  box-shadow: 0 4px 15px 0 rgb(11, 15, 19);
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  width: 98%;
}

.btn-view {
  background-color: #3CB0D0;
  color: #FFFFFF;
  border-radius: 9px;
  padding: 8px;

  transition: 0.15s ease-in-out;
}

.btn-view:hover{
  color: #FFFFFF;
  background-color: #1f9bbd;
  transform: scale(1.07);
}

.btn-blue {
  background-color: #3CB0D0;
  color: #FFFFFF;
  border-radius: 9px;
  padding: 8px;

  transition: 0.15s ease-in-out;
}

.btn-blue:hover{
  color: #FFFFFF;
  background-color: #1f9bbd;
  transform: scale(1.07);
}

.modal-styles {
  background: radial-gradient(circle at left bottom, #00162e , #2d516c);
  box-shadow: 0 2px 10px 0 rgb(21, 9, 22);
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;

  .m-header {
    padding: 20px 20px 0 20px;
  }
}
