* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.full-container {
  width: 100%;
}

.circle-fondo-hero {
  width: 60vw;
  height: 100vh;
  background: linear-gradient(162deg, #0e4974, #05283f);
  z-index: 1;
  position: absolute;
  border-radius: 0% 10% 11% 0% / 0% 41% 51% 0%;
  left: 0;
}

.circle-fondo-hero-sign {
  width: 60vw;
  height: 100vh;
  background: linear-gradient(162deg, #0e4974, #05283f);
  z-index: 20;
  position: absolute;
  border-radius: 29% 0% 0% 17% / 28% 0% 0% 44%;
  right: 0;
}

.hero-section {
  z-index: 20;
}

.container-hero-section{
  background: linear-gradient(162deg, #154c74 , #07273d);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hero-section .banner{
  // background-color: blanchedalmond;
  width: 90vw;
  display: flex;
  height: 75vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section .banner .headline{
  width: 100%;
  height: 30%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: green;
}

.hero-section .banner .headline h1 {
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-size: 90px;
  font-weight: 600;
  color: #fff;
}

.hero-section .banner .headline h2 {
  font-family: "Nunito ExtraLight", "Helvetica", "sans-serif";
  font-size: 35px;
  font-weight: lighter;
  color: #fff;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}


.hero-section .banner .headline .cta{
  // background-color: maroon;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.hero-section .banner .img-banner{
  width: 90%;
  // background-color: aqua;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.sign-animation {
  background: var(--deep-gray);
  box-shadow: 0 4px 15px 0 rgb(25, 34, 41);
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 290px;
  padding: 10px 0;
  position: relative;
}

.sign-animation .fa-arrow-pointer {
  position: absolute;
  color: #F5BF38;
  font-size: 3em;
  z-index: 100;
  animation-name: pointerinfo;
  top: 30px;
  top: 186px;
  right: -21px;
  animation-duration: 7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pointerinfo {
  0% {
  }

  10% {
    transform: translate(-119px, -85px);
  }

  20% {
    transform: translate(-119px, -85px);
  }

  30% {
    transform: translate(-119px, -85px);
  }

  40% {
    transform: translate(-119px, -10px);
  }

  50% {
    transform: translate(-119px, -10px);
  }

  60% {
    transform: translate(-119px, -10px);
  }

  70% {
    transform: translate(-119px, 59px);
  }

  80% {
    transform: translate(-119px, 59px);
  }

  90% {
    transform: translate(-119px, 59px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.sign-animation header {
  width: 100%;
  height: 20%;
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.sign-animation header h2 {
  color: #fff;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0;
  margin: 0;
  font-family: "Nunito ExtraLight", "Helvetica", "sans-serif";
}

.sign-animation header img {
  width: 90px;
}


.sign-animation main {
  width: 100%;
  height: 60%;
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 25px;
}

.sign-animation main .input-animation {
  background-color: #fff;
  width: 100%;
  height: 30%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
}

.input-animation span {
  position: absolute;
  padding: 2px 5px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  top: 11px;
  left: 13px;
}


.input-animation i {
  position: absolute;
  top: 16px;
  right: 23px;
}

.input-animation i.fa-solid{
  color: #32A6BE;
}

.sign-animation footer {
  width: 100%;
  height: 20%;
  // background-color: violet;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.sign-animation footer .button-animation {
  background-color: #32A6BE;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px 15px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  animation-name: botonsave;
  animation-duration: 7s;
  animation-delay: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes botonsave {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(1);
  }

  50% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }

  70% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.04);
  }

  90%{
    transform: scale(1.04);
    background-color: #0f7387;
  }

  100%{
    transform: scale(1);
  }
}

.hero-section .banner .img-banner .image-social-media {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // background-color: violet;
  position: relative;
}
.hero-section .banner .img-banner .image-social-media .image{
  width: 450px;
  height: 450px;
  z-index: 50;
  position: absolute;
}

.hero-section .banner .img-banner .image-social-media .flaticon{
  width: 70px;
  height: 70px;
  position: absolute;
  top: 312px;
  left: 334px;
  z-index: 60;
  border-radius: 10px;
  // padding: 8px;
  // background: rgba(25, 34, 41, 0.671);
  // box-shadow: 0 4px 15px 0 rgb(25, 34, 41);
  // backdrop-filter: blur( 0px );
  // -webkit-backdrop-filter: blur( 0px );
  // border-radius: 10px;
  animation-name: motion3;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}

.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(2){
  top: 243px;
  left: -36px;
  animation-name: motion3;
}

.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(3){
  top: 403px;
  left: 141px;
}

.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(4){
  top: 53px;
  left: 50px;
  animation-name: motion;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(5){
  top: 151px;
  left: 381px;
  animation-name: motion2;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(6){
  top: 476px;
  left: 421px;
  animation-name: motion3;
}

.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(7){
  top: 210px;
  left: 181px;
  animation-name: motion;
}

.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(8){
  top: 490px;
  left: 1179px;
  animation-name: motion;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(9){
  top: 430px;
  left: 911px;
  animation-name: motion3;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(10){
  top: 513px;
  left: 676px;
  animation-name: motion;
}

.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(11){
  top: -9px;
  left: -103px;
  animation-name: motion3;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(12){
  top: 442px;
  left: -69px;
  animation-name: motion3;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(13){
  top: 5px;
  left: 268px;
  animation-name: motion3;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(14){
  top: -14px;
  left: 1541px;
  animation-name: motion3;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(15){
  top: 42px;
  left: 1393px;
  animation-name: motion3;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(16){
  top: 248px;
  left: 1465px;
  animation-name: motion3;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(17){
  top: 446px;
  left: 1569px;
  animation-name: motion;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(18){
  top: 397px;
  left: 1373px;
  animation-name: motion3;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(19){
  top: 194px;
  left: 1300px;
  animation-name: motion;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(20){
  top: 142px;
  left: 1142px;
  animation-name: motion3;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(21){
  top: 288px;
  left: 1097px;
  animation-name: motion3;
}
.hero-section .banner .img-banner .image-social-media .flaticon:nth-child(22){
  top: -2px;
  left: 1207px;
  animation-name: motion;
}
@keyframes motion{
  0% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}

@keyframes motion2{
  0% {
      transform: translateY(10px);
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
}

  50% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

  100% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
}

@keyframes motion3{
  0% {
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
      -o-transform: translateY(20px);
}

  50% {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

  100% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
}
}


@media (max-width: 1370px) {

  .hero-section .banner .headline{
    padding-top: 15px;
  }

  .hero-section .banner .headline h1 {
    font-size: 55px;
  }

  .hero-section .banner .headline h2 {
    font-size: 20px;
  }

  .hero-section .banner .img-banner .image-social-media .flaticon{
    width: 50px;
    height: 50px;
    top: 238px;
    left: 195px;
  }

  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(2){
    top: 165px;
    left: -64px;
  }

  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(3){
    top: 256px;
    left: 50px;
  }

  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(4){
    top: 53px;
    left: 21px;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(5){
    top: 114px;
    left: 211px;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(6){
    top: 331px;
    left: 244px;
  }

  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(7){
    top: 159px;
    left: 105px;
  }

  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(8){
    top: 344px;
    left: 929px;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(9){
    top: 330px;
    left: 644px;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(10){
    top: 352px;
    left: 429px;
  }

  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(11){
    top: -9px;
    left: -103px;
    animation-name: motion3;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(12){
    top: 293px;
    left: -102px;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(13){
    top: -17px;
    left: 150px;

  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(14){
    top: -15px;
    left: 1159px;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(15){
    top: 27px;
    left: 1048px;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(16){
    top: 164px;
    left: 1154px;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(17){
    top: 300px;
    left: 1158px;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(18){
    top: 249px;
    left: 1029px;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(19){
    top: 148px;
    left: 1011px;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(20){
    top: 103px;
    left: 877px;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(21){
    top: 239px;
    left: 850px;
  }
  .hero-section .banner .img-banner .image-social-media .flaticon:nth-child(22){
    top: 0px;
    left: 926px;
  }

}
