* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.section-passwords-free {
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--deep-gray);
}

.passwords-section {
  width: 90vw;
  height: 75vh;
  // background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.passwords-section h2 {
  color: #fff;
  font-size: 50px ;
  font-weight: bold;
  // background-color: blue;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.passwords-generate {
  width: 100%;
  height: 80%;
  // background-color: yellow;
}

@media (max-width: 1370px) {
  .passwords-section h2 {
    font-size: 40px ;
    font-weight: bold;
    padding-top: 10px;
  }
}
