.section-passwords-free{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    margin: auto;
    background-color: var(--deep-gray);
    background-image: url("../../images/background-color-blue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-passwords-free .subtitle{
    color: var(--gray);
    font-size: 40px ;
    font-weight: 600;
    padding-bottom: 150px;
    padding-top: 150px;
    font-family: var(--headers-font);
}
.section-passwords-free .subtitle span{
    color: var(--light-blue);
}
.ball-pink{
    width:1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 0px 0px 300px 150px var(--hotpink);
    background-color: var(--hotpink);
}
.section .ball-pink{
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 0px 0px 300px 150px var(--hotpink);
    background-color: var(--hotpink);
    align-self: end;
}
.section-passwords-free .passwords{
    width:80%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.section-passwords-free .passwords .try-passwords{
    width: 450px;
    height: 450px;
    background-color: var(--black);
    border-radius: 8px;
    border: 1px solid var(--blue);
    z-index: 1;
}
.section-passwords-free .passwords .email{
    width: 450px;
    height: 450px;
    background-color: var(--black);
    border-radius: 8px;
    border: 1px solid var(--blue);
    z-index: 1;
}
.section-passwords-free .passwords-cta{
    margin-top: 80px;
    width:270px;
    height:60px;
        text-decoration: none;
        color: var(--white);
        font-family: var(--body-font);
        font-weight: 600;
        font-size: 20px;
        padding: 15px 20px;
        border-radius: 8px;
        border: 1px solid var(--white);
        background-color: var(--deep-gray);
        transition: .5s;
        text-align: center;
}
.section-passwords-free .passwords-cta:hover{
        box-shadow: 0 0 10px var(--white);
        background-color: var(--light-blue);
    }

