* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.subs-container {
  background-color: var(--deep-gray);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subs-container-center {
  // background-color: red;
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.subs-container-center > h2 {
  color: #fff;
  font-size: 50px ;
  font-weight: bold;
  // background-color: blue;
  width: 35%;
  height: 80%;
  margin: 0;
  padding: 197px 90px;
}

.subs-container-center > h2 span {
  color: #32A6BE;
  margin: 0;
  padding: 0;
}

.container-plans {
  width: 65%;
  height: 100%;
  // background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 1370px) {

  .subs-container-center > h2 {
    font-size: 32px ;
    // background-color: blue;
    transform: scale(1.3);
    width: 35%;
    height: 80%;
    margin: 0;
    padding: 139px 90px;
  }

  .subs-container-center > h2 span {
    color: #32A6BE;
    margin: 0;
    padding: 0;
  }

  .container-plans {
    width: 65%;
    height: 100%;
    // background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
