* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.section-cards-profiles {
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #192229;
}

.section-target {
  // background-color: red;
  width: 90vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-target header {
  // background-color: blue;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-target header img {
  width: 141px;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  margin-right: 8px;
}

.section-target header h2 {
  padding: 0;
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.section-cards-profiles .cards-clients{
  // background-color: yellow;
  width: 75%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
}


.section-cards-profiles .cards-clients .card{
  width: 47%;
  height: 45%;
  display: flex;
  flex-direction: row;
  background-color: #192229;
  border-radius: 10px;
  overflow: hidden;
}

.section-cards-profiles .cards-clients .card:hover img {
  transform: scale(1.02);
}

.card img {
  width: 45%;
  object-fit: cover;
  padding: 0;
  margin: 0;
  transition: .5s;
  background-color: #CEE1F4;
}

.card:nth-child(2) img {
  background-color: #E6EDB7;
}

.card:nth-child(3) img {
  background-color: #F9DBD2;
}

.card:nth-child(4) img {
  background-color: #C0E5E4;
}

.card .text {
  width: 55%;
  height: 100%;
  background-color: var(--deep-gray);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
}

.card .text h3 {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  // background-color: red;
  width: 100%;
  height: 30%;
  margin: 0;
  padding: 0 25px;
  display: flex;
  align-items: flex-end;
  border: none;
}

.card .text p{
  color: #b7c1c8;
  font-size: 1em;
  font-weight: lighter;
  // background-color: aqua;
  width: 100%;
  height: 40%;
  margin: 0;
  padding: 0 25px;
  display: flex;
  align-items: center;
}

.card .text a{
    color: #32A6BE;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    transition:.5s;
    width: 100%;
    height: 30%;
    margin: 0;
    padding: 0 25px 25px;
    display: flex;
    align-items: flex-end;
    display: flex;
    align-items: center;
}

.text i {
  margin-left: 10px;
}

.text i:hover, .text a:hover {
  text-decoration: none;
  transform: scale(1.02);
  padding-left: 30px;
}

@media (max-width: 1370px) {
  .card .text h3 {
    font-size: 1.1em;
  }

  .card .text p {
    font-size: 0.7em;
  }

  .card .text a {
    font-size: 0.75em;
  }
}
