* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", "Helvetica", "sans-serif";
}
.section-passwords-free {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: visible;

}
.section-passwords-free .passwords-generate{
  text-align: center;
}
.section-passwords-free .passwords-generate .passwords{
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.section-passwords-free .passwords-generate .passwords .try-passwords{
  width:500px;
  height: 450px;
  background-color: #192229;
  color:#ffff;
  border-radius: 8px;
}
.section-passwords-free .passwords-generate .passwords .try-passwords .form1{
  width:80%;
  margin: 50px auto;
}
.section-passwords-free .passwords-generate .passwords .try-passwords .long-password{

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.section-passwords-free .passwords-generate .passwords .try-passwords .long-password .custom{
  font-size: 17.6px;
  font-weight: 500;
  font-family:$body-font;
  margin: 20px auto;
}
.section-passwords-free .passwords-generate .passwords .email{
  width:500px;
  height: 450px;
  background-color: #192229;
  color:#ffff;
  border-radius: 8px;
}
.section-passwords-free .passwords-generate .passwords .email .form2{
  width:80%;

  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.section-passwords-free .passwords-generate .passwords .email .form2 .name{
  flex-grow: 1;


}
.section-passwords-free .passwords-generate .passwords .email .form2 .mail{
  flex-grow: 1;

}
.section-passwords-free .passwords-generate .passwords .email .form2 .information{
  flex-grow: 1;

}
.section-passwords-free .passwords-generate .passwords .custom-password{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.section-passwords-free .passwords-generate .passwords .try-custom-password{
  width: 75%;
  margin: 50px auto;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14.4px;
  font-weight: 500;
  font-family:$body-font;
  color: #b7c1c8;

}
.section-passwords-free .passwords-generate .passwords .try-custom-password .long{
  font-size: 14.4px;
  font-weight: 500;
  font-family:$body-font;
  color: #32A6BE;
}
.section-passwords-free .passwords-generate .passwords .item-password{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 14.4px;
  font-weight: 500;
  font-family:$body-font;
  color: #b7c1c8;
}

.section-passwords-free .passwords-generate .passwords .item-password #cbox1{
  margin-bottom: 20px;
}
