* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

*::selection {
	background:transparent;
}

*::-moz-selection {
	background:transparent;
}

.section-passwords-free {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passwords-section {
  // background-color: red;
}

.passwords-generate {
  // background-color: green;
  padding: 0 350px;
}

.password-generating {
  // background-color: yellow;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.password-generating .progress-pass {
  width: 800px;
  height: 13px;
  background-color: #d4e4e8;
  position: relative;
  top: 0px;
  z-index: 1;
  border-radius: 15px;
  overflow: hidden;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.carga-barra {
  height: 100%;
  border-radius: 15px;
  transition: background-color .63s;
  border-top-left-radius: 0;
}

.options-password {
  background-color: #182d39;
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  padding: 23px 0;
}

.longitud-password {
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
}

.longitud-password label {
  height: 27%;
  font-size: 2em;
  color: #fff;
  font-weight: bold;
}

.generating-form input[type="text"] {
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 800px;
  height: 77px;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 50px;
  font-size: 2em;
  z-index: 20;
  overflow: hidden;;
}

.options-check {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
}

.options-check div {
  width: 100%;
  height: 30%;
  background-color: #172934;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.options-check div label {
  color: #fff;
  font-size: 1.4em;
  padding: 0;
  margin: 0;
  width: 180px;
}

.generating-form input.inputpass-g {
  position: relative;
}

.generating-form i.fa-copy {
  position: relative;
  top: -1px;
  right: 57px;
  font-size: 2em;
  color: #736969;
  z-index: 25;
}

.options-check input[type="checkbox"] {
  transform: scale(2.2);
}

.texto-aparece {
  position: absolute;
  width: 173px;
  top: 100px;
  right: -56px;
  color: #acaaae;
  font-weight: bold;
  animation-duration: 5s;
  opacity: 0;
  animation-timing-function: ease-in-out;
}

.texto-aparece-animation {
  animation-name: copypass;
}

@keyframes copypass {

  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

.longitud-password > div {
  background-color: #172934;
  width: 393px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.longitud-password input#numberlength {
  border: none;
  outline: none;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  font-weight: bold;
  margin-right: 26px;
  font-size: 1.4em;
}

.longitud-password input[type="number"] {
  -moz-appearance: none;
  text-align: center;
}

.longitud-password input[type="number"]::-webkit-outer-spin-button, .longitud-password input[type="number"]::-webkit-inner-spin-button  {
  -webkit-appearance: none;
  margin: 0;
}

.longitud-password input#longitud {
  width: 50px;
}

.longitud-password input#longitud {
  width: 227px;
  height: 17px;
  -webkit-appearance: none;
  border-radius: 15px;
  // overflow: hidden;
}

input#longitud::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 45px;
  height: 45px;
  background: #32a6be;
  border-radius: 50%;
  transition: .2s;
}

input#longitud::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  background: #2695ac;
}


input#longitud::-moz-range-thumb:hover{
  -webkit-appearance: none;
  background: #2695ac;
}

input#longitud::-moz-range-thumb{
  width: 45px;
  height: 45px;
  background: #32a6be;
  border-radius: 50%;
  -webkit-appearance: none;
  border: none;
  outline: none;
  transition: .2s;
}

input#longitud::-moz-range-progress{
  background: #32a6be;
  height: 17px;
  border-radius: 15px;
}


@media (max-width: 1370px) {

  .passwords-generate {
    padding: 0 140px;
  }

  .password-generating {
    width: 100%;
    height: 40%;
  }

  .password-generating .progress-pass {
    width: 780px;
    height: 13px;
    top: 0px;
  }

  .carga-barra {
    height: 100%;
    border-radius: 15px;
    transition: background-color .63s;
    border-top-left-radius: 0;
  }

  .options-password {
    width: 100%;
    height: 78%;
    padding: 23px 0;
  }

  .longitud-password {
    width: 58%;
    height: 100%;
  }

  .longitud-password label {
    height: 27%;
    font-size: 1.5em;
  }

  .generating-form input[type="text"] {
    width: 780px;
    height: 57px;
    font-size: 1.5em;
  }

  .options-check {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
  }

  .options-check div {
    width: 97%;
    height: 27%;
  }


  .options-check div label {
    font-size: 1.3em;
    width: 180px;
}


  .generating-form input.inputpass-g {
    position: relative;
  }

  .generating-form i.fa-copy {
    top: -1px;
    right: 57px;
  }

  .options-check input[type="checkbox"] {
    transform: scale(1.8);
  }

  .texto-aparece {
    top: 63px;
    right: -82px;
  }


  .longitud-password > div {
    width: 377px;
    height: 179px;
  }

  .longitud-password input#numberlength {
    border: none;
    outline: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 26px;
    font-size: 1.4em;
  }

  .longitud-password input[type="number"] {
    -moz-appearance: none;
    text-align: center;
  }

  .longitud-password input[type="number"]::-webkit-outer-spin-button, .longitud-password input[type="number"]::-webkit-inner-spin-button  {
    -webkit-appearance: none;
    margin: 0;
  }

  .longitud-password input#longitud {
    width: 50px;
  }

  .longitud-password input#longitud {
    width: 227px;
    height: 17px;
    -webkit-appearance: none;
    border-radius: 15px;
    // overflow: hidden;
  }

  input#longitud::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 45px;
    height: 45px;
    background: #32a6be;
    border-radius: 50%;
    transition: .2s;
  }

  input#longitud::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    background: #2695ac;
  }


  input#longitud::-moz-range-thumb:hover{
    -webkit-appearance: none;
    background: #2695ac;
  }

  input#longitud::-moz-range-thumb{
    width: 45px;
    height: 45px;
    background: #32a6be;
    border-radius: 50%;
    -webkit-appearance: none;
    border: none;
    outline: none;
    transition: .2s;
  }

  input#longitud::-moz-range-progress{
    background: #32a6be;
    height: 17px;
    border-radius: 15px;
  }
}
