* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url(cursor.png), auto;
}

a, button, .fa-house, .fa-user-plus, .fa-right-to-bracket, .fa-lock, input[type="color"], section.tarjeta *, input.btn-enviar, .contenedor-btn, .fa-plus, input[type="submit"], .fa-circle-arrow-left, .fa-circle-arrow-left span, span.icon-input .fa-eye-slash, span.icon-input .fa-eye, a .fa-circle-plus, #agregar-bank, .fa-circle-plus::before, .menuToggle *, .nav-link *, .cerrar-sesion *, .fa-copy, input#longitud, .delete-invitation img {
  cursor: url(cpointer.png), auto !important;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"] {
  cursor: url(cursortext.png), auto !important;
}

body {
  font-family: 'Nunito ExtraLight';
}


body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar {
  width: 14px;
  background-color: #25282d;
}

body::-webkit-scrollbar-thumb {
  background-color: #32A6BE;
  border-radius: 10px;
  transition: .2s ease;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #37b7d1;
}





// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "users/index";
@import "group_invitations/index";
@import "bank_passwords/index";
@import "groups/index"
