<div class="dashboard-body">
  <div class="row">

    <div class="col-9">
      <div class="container mt-3">

        <h1>Invitaciones</h1>

        <% @group_invitations.each do |group_invitation| %>
          <div class="mt-5 mb-5">
            <h3>Invitacion para <%= group_invitation.user.username %></h3>
            <em><small>Invitado por: <%= group_invitation.group.user.username %></small></em>
            <p>Estado: <%= group_invitation.status %></p>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
