<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1>Invitar a un usuario</h1>
      <form action="/groups/group_id/group_invitations/new">
        <input class="form-control string required" placeholder="johndoe@gmail.com" type="search" name="invitation" value="">
        <button type="submit" class="btn btn-primary">Agregar usuario</button>
      </form>
    </div>

  </div>
</div>
