<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h1>Invitar a un usuario</h1>
      <%= form_tag new_group_group_invitation_path, method: :get do  %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "example: user@mail.com" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>

    <% if @usuarios.present? %>
      <% @usuarios.each do |user| %>
        <div class="card p-3 my-3">
          <%= user.email %>
        </div>
      <% end %>
    <% end %>


  </div>
</div>
