<div class="dashboard-body text-white" data-controller="searchcards">
  <div class="blue-bg container p-5" >
    <div class="row" >
      <div class="col-8" >
        <h1>Invitar a un usuario</h1>
        <%= form_with url: new_group_group_invitation_path, method: :get, html: { data: { searchcards_target: "searchcard" } } do |f| %>
          <div class="search-form-control form-group">
            <%= f.text_field :query,
                  class: "form-control",
                  value: params[:query],
                  placeholder: "ex: user@mail.com",
                  data: { searchcards_target: "inputsearch", action: "keyup->searchcards#showcards"} %>
          </div>
        <% end %>
        <%= render 'parm', usuarios: @usuarios %>
      </div>
    </div>
  </div>
</div>
